AZHermandad/.idea/.name
AZHermandad/.idea/compiler.xml
AZHermandad/.idea/copyright/profiles_settings.xml
AZHermandad/.idea/gradle.xml
AZHermandad/.idea/encodings.xml
AZHermandad/.idea/misc.xml
AZHermandad/.idea/modules.xml
AZHermandad/.idea/runConfigurations.xml
AZHermandad/settings.gradle
AZHermandad/build.gradle
AZHermandad/app/src/test/java/az/lahermandad/com/azhermandad/ExampleUnitTest.java
AZHermandad/gradle.properties
AZHermandad/app/src/androidTest/java/az/lahermandad/com/azhermandad/ApplicationTest.java
AZHermandad/.idea/vcs.xml
AZHermandad/gradlew.bat
AZHermandad/gradlew
AZHermandad/app/build.gradle
AZHermandad/app/proguard-rules.pro
AZHermandad/gradle/wrapper/gradle-wrapper.jar
AZHermandad/gradle/wrapper/gradle-wrapper.properties